numpy==1.24.3
ultralytics==8.0.111
torch==2.0.1
transformers==4.29.2
accelerate==0.19.0
pandas==2.0.1
timm==0.9.2
tqdm==4.65.0
matplotlib==3.7.1
pytube==15.0.0
ffmpeg==1.4
opencv-python==4.7.0.72
scipy==1.10.1
diffusers==0.16.1
safetensors==0.3.1
